body {
  background: rgb(254, 241, 226);
  font-family: Arial, Helvetica, sans-serif;
}

.navBar {
  background-color: #333;
  color: white;
  width: 100%;
  height: 100px;
  padding: 0;
  
}
.navBar h2{
  font-size: 1.5rem;
}
.container{
  background-image: url("https://source.unsplash.com/C3V88BOoRoM");
background-repeat: no-repeat;
background-size: cover;

height: 500px;
}
.aboutText{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;


}
.aboutText h2{
 
  font-size: 3rem;
  
}
.aboutText p{
  font-size: 1.5rem;
  font-weight: 100;
}
#readBtn{
  background-color: lightblue;
  width: 5rem;
  height: 2rem;
}
.items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.itemsPic{
  padding-bottom: 50px;
  padding-top: 50px;
  
  border-radius: 50px;
}
.itemsText{
  padding-top: 70px;

}
.myskills{
  background-color: lightgray;
}
.cardsContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  box-sizing: border-box;
  background-color: white;
 
  padding: 10px;


}
.fa-color{
  color: lightblue;
}




.containerFooter{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  background-color: rgb(28, 27, 27);
  color: white;
}
form{
  
}

