body {
  background: rgb(238, 235, 231);
  font-family: Arial, Helvetica, sans-serif;
}

.navBar {
  background-color: #333;
  color: white;
  width: 100%;
  height: 100px;
  padding: 0;
  
}
.navBar h2{
  font-size: 1.5rem;
}
.dropbtn{
  background-color:#333 ;
  width: 5rem;
  height: 2rem;
  color: white;
  align-self: center;
  
}
.container{
background-image: url("https://source.unsplash.com/C3V88BOoRoM");
background-repeat: no-repeat;
background-size: cover;

height: 500px;
}
.aboutText{
  color: white;
  max-width: 400px;
  align-items: center;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  position: relative;
  margin-top: 3rem;


}
.aboutText h2{
 
  font-size: 3rem;
  
}
.aboutText p{
  font-size: 1.5rem;
  font-weight: 100;
}
#readBtn{
  background-color: lightblue;
  width: 5rem;
  height: 2rem;
}
.items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.itemsPic{
  padding-bottom: 50px;
  padding-top: 50px;
  border-radius: 1rem;
  
  border-radius: 50px;
}
.itemsText{
  padding-top: 70px;

}
.myskills{
  background-color: lightgray;
  height: 300px;
 
}
.myskills h2{
  margin-top: 2rem;
}


.java{
  background-color: lightcyan;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0.5rem;
  height: 200px;
  

}
.figma{
  background-color: lightcyan;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0.5rem;
  height: 200px;

}
.hyperText{
  background-color: lightcyan;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0.5rem;
  height: 200px;
 
}
.cascade{
  background-color: lightcyan;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0.5rem;
  height: 200px;

}
.cardsContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  box-sizing: border-box;
  padding: 10px;
  height: 400px;


}
.java i{
  color: rgb(50, 184, 228);
  border-radius: 50%;
  width: 25px;
  
}




.containerFooter{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  background-color: rgb(28, 27, 27);
  color: white;
  height: 500px;
  padding: 0;
}
form{
  width: 300px;
  box-sizing: border-box;
  position: fixed left;
  line-height: 3rem;
}

input{
  width: 100%;
 border-radius: 3px;
  border: 1px solid;
  padding: 6px 20px;
}

#send-btn{
  background-color: rgb(93, 168, 215);
  width: 5rem;
  height: 2rem;
}
#scrow{
  width: 3rem;
  height: 2rem;
  background-color: white;
  color: black;
  position: fixed;
  justify-items: right;
}

