html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.Logo{
  background-color: rgb(59, 56, 56);
}
ul{
  list-style-type: none;
  text-decoration: none;
  
  color: white;
  display: inline-block;
  
}
li{
  color: white;
}
.Container{
  background-image: url("https://source.unsplash.com/6U-sSfBV-gM");
  background-repeat: no-repeat;
  background-size: cover;
 
  
}

.Container1{
  background-color: thistle;
}
.Container2{
  background-image: url("https://source.unsplash.com/-QYcSHZu3v8");
}
.Contacts{
  background-color: rgb(59, 56, 56);
  height: 10rem;
  padding: 0 auto;
  margin: 0;
}
.Contacts p{
  color: white;
  display: flex;
  
}