body{
    
   
    text-align: center;
    
   
}

*{
    
    font-family: Arial, Helvetica, sans-serif;
   
}
.fa-color{
    color:orange ;

}
.trade{
    color: orange;
}
 a{
    list-style-type: none;
}

#gt-logo a:hover {
    background-color: rgb(126, 21, 21);

}
header a{
    display: inline-block;
    padding: 25px;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
header{
    background: whitesmoke;
    text-align: center;
    width: auto;
    padding: 10px;
}
.homeText{
    background-image: url("https://source.unsplash.com/mLx1dc-AJ5k");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 100px;
    display: flex;
    align-items: center;
    height: 600px;

}
.homePage{
    border: 200px;
       border-radius: 3px;
       padding-bottom: 100px;
       max-width: 100%;
       height: auto;
    background: rgba(236, 144, 25, 0.65);
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
   
    


}
#myBtn{
    background-color: rgb(49, 47, 47);
    width: 5rem;
    height: 2rem;
    color: white;
}

   

   footer{
       background-color: rgb(53, 52, 52);
       color: white;
   }
   #btn{
       width: 3rem;
       height: 2rem;
       background-color: orangered;
       text-align: left;
   }
   .aboutUs{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       background: white;
       height: 500px;
       
       
       
   }
   .aboutText{
    padding-top: 70px;
    column-gap: 1rem;
    
       
   }
   .aboutPic img{
       border: 5px;
       border-radius: 3px;
       padding-bottom: 100px;
       padding-top: 50px;
       max-width: 250%;
       height: 250px;
       column-gap: 1rem;
       
   }
   form{
       text-align: left;
       line-height: 2rem;

      

   }
   label{
    width: 230px;
    display: inline-block;

   }
   .first{
       align-items: left;
   }
   h5{
       font-size: 1rem;
   }
   .forms h4{
       text-align: left;
       font-size: 1.2rem;
   }
   .forms ul{
       list-style-type: none;
   }


   .contact-container{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       column-gap: 3rem;
       box-sizing: border-box;
       padding: 0;
       

   }
   .lorem{
       align-items: flex-end;
       
   }
   .lorem p{
       font-weight: 50;
   }
   
   