* {
  font-family: Arial, Helvetica, sans-serif;
}
#main-header{
  font-size: 2rem;
  text-decoration: none;
}
#topNav-link{
  font-size: 1rem;
}
.navBar-container{
  background-color: rgb(22, 56, 160);
  width: auto;
  height: 3rem;
  padding: 0;
  color: white;

}
.navBar-container a{
  color: white;
  
}
i{
  align-self: center;
}











.hero-text{
  background-image: url("https://source.unsplash.com/hCb3lIB8L8E");
  
  background-size: cover;
  color: white;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  height: 600px;
  padding: 0;
}
.hero-text h1{
  font-size: 4rem;
}
.hero-text p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}











.categories h1{
  color: rgb(31, 31, 161);
  font-size: 3rem;
  border-radius: 2rem;
 border-bottom: initial;
 box-sizing: border-box;
 padding: 0;
}
.academics1{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/8CqDvPuo_kI");
  background-size: cover;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
  
}
.academics2{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/9drS5E_Rguc");
  background-size: cover;
  color: white;
  text-align: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  border: initial;
  box-sizing: border-box;
  border-radius: 0;
  margin-bottom: 2rem;

}
.academics3{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/L4iKccAChOc");
  background-size: cover;
  color: white;
  text-align: inherit;
  font-size: 0.7rem;
  font-weight: 700;
  border: initial;
  box-sizing: border-box;

}
.academics4{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/AYdJM-HiSUM");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academics5{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/tdz9pb_ScG8");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academics6{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/i4ABHj811N0");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academics7{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/jpHw8ndwJ_Q");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academics8{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/mpN7xjKQ_Ns");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academics9{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/wsHvGRpT8Eo");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
  margin-top: 2rem;
}







.region-container h1{
  color: rgb(31, 31, 161);
  font-size: 3rem;
  border-radius: 2rem;
 border-bottom: initial;
 box-sizing: border-box;
 padding: 0;




}
.container{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:3, 1fr ;
  grid-column: 1rem;
 
  grid-row: 1rem;
  
  
 
}
.academic1{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/Vk8MqyygNak");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academic2{
  width: 250px;
  height: 200px;
  background-color: rgb(31, 31, 161);
  color: white;
  text-align: inherit;
  font-size: 0.7rem;
  font-weight: 700;
  border: initial;
  box-sizing: border-box;
  margin-bottom: 2rem;

}
.academic3{
  width: 250px;
  height: 200px;
  background-color: rgb(31, 31, 161);
  color: white;
  text-align: inherit;
  font-size: 0.7rem;
  font-weight: 700;
  border: initial;
  box-sizing: border-box;

}
.academic5{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/X3x-zCLeLJs");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academic6{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/iBjO3rbIHtg");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academic7{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/5zLhWqntDQA");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academic8{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/SfOHL8UVDxk");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academic9{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/T3-Ja07-pvA");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
  margin-top: 2rem;
}
.academic10{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/QRZ6NlAgxsg");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academic11{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/ICE__bo2Vws");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}










.btn-region{
  width: 200px;
  height: 3rem;
  padding: 0;
  background-color: rgb(23, 23, 134);
  color: white;
  font-size: 1rem;
  font-weight: 500;
}






































footer {
  background-color: blue;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}
.end-links ul{
  list-style-type: none;
}
.contact a{
  color: white;
  list-style-type: none;
}
.contact ul{
  list-style-type: none;
}
#scrowBtn{
  width: 3rem;
  height: 3rem;
  padding: 1 auto;
  position: relative;
  
}
