* {
  font-family: Arial, Helvetica, sans-serif;
}
#main-header{
  font-size: 2rem;
  text-decoration: none;
}
#topNav-link{
  font-size: 1rem;
  display: inline;
  right: 10px;
  margin-left: 80rem;
  text-decoration: none;
}
.navBar-container{
  background-color: rgb(22, 56, 160);
  width: auto;
  height: 5rem;
  padding: 0;
  color: white;
 
  

}
.navBar-container a{
  text-decoration: none;
  margin: 2rem;
 
}
.navBar-container a:hover{
text-decoration: underline;

}
.container-wrap-logo{
  text-decoration: none;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.05;
    letter-spacing: -2px;
    color: blue;
}
.navBar-container a{
  color: white;
  
}

/* adding parallax effect to the hero div*/
.hero-text{
  background-image: url("https://source.unsplash.com/hCb3lIB8L8E");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  height: 600px;
  padding: 0;
}
.hero-text h1{
  font-size: 4rem;
}
.hero-text p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}







.container a{
  color: white;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: flex-end;
  text-decoration: none;
  justify-content: flex-end;
  display: grid;
 
  
}

.categories{
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.categories h1{
  color: rgb(31, 31, 161);
  font-size: 3rem;
  border-radius: 2rem;
 border-bottom: initial;
 box-sizing: border-box;
 padding: 0;
}
.academics1{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/8CqDvPuo_kI");
  background-size: cover;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: bottom;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
  
  
}
.academics2{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/9drS5E_Rguc");
  background-size: cover;
  color: white;
  text-align: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  border: initial;
  box-sizing: border-box;
  border-radius: 0;
  margin-bottom: 2rem;

}
.academics3{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/L4iKccAChOc");
  background-size: cover;
  color: white;
  text-align: inherit;
  font-size: 0.7rem;
  font-weight: 700;
  border: initial;
  box-sizing: border-box;

}
.academics4{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/AYdJM-HiSUM");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academics5{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/tdz9pb_ScG8");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academics6{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/i4ABHj811N0");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academics7{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/jpHw8ndwJ_Q");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academics8{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/mpN7xjKQ_Ns");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academics9{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/wsHvGRpT8Eo");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
  margin-top: 2rem;
  
}






.region-container{
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.region-container h1{
  color: rgb(31, 31, 161);
  font-size: 3rem;
  border-radius: 2rem;
 border-bottom: initial;
 box-sizing: border-box;
 padding: 0;




}
.container{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:3, 1fr ;
  grid-column: 1rem; 
  grid-row: 1rem;
  
  
 
}
.academic1{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/Vk8MqyygNak");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
a{
  margin-top: 10rem;
}
.academic2{
  width: 250px;
  height: 200px;
  background-color: rgb(31, 31, 161);
  color: white;
  text-align: inherit;
  font-size: 0.7rem;
  font-weight: 700;
  border: initial;
  box-sizing: border-box;
  margin-bottom: 2rem;

}
.academic3{
  width: 250px;
  height: 200px;
  background-color: rgb(31, 31, 161);
  color: white;
  text-align: inherit;
  font-size: 0.7rem;
  font-weight: 700;
  border: initial;
  box-sizing: border-box;

}
.academic5{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/X3x-zCLeLJs");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academic6{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/iBjO3rbIHtg");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academic7{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/5zLhWqntDQA");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
}
.academic8{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/SfOHL8UVDxk");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
  margin-top: O;
}
.academic9{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/T3-Ja07-pvA");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5rem;
  border: initial;
  box-sizing: border-box;
 
}
.academic10{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/QRZ6NlAgxsg");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
  margin-top: 2rem;
}
.academic11{
  width: 250px;
  height: 200px;
  background-image: url("https://source.unsplash.com/ICE__bo2Vws");
  background-size: cover;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
  border: initial;
  box-sizing: border-box;
  margin-top: 2rem;
}










.btn-region{
  width: 200px;
  height: 3rem;
  padding: 0;
  background-color: rgb(23, 23, 134);
  color: white;
  font-size: 1rem;
  font-weight: 500;
}






































.footer-container{
  background-color: rgb(13, 13, 184);
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  
}
h3{
  font-weight: 50;
  font-size: 1.1rem;
  margin-left: 2rem;
}
h3 #hero{
  font-weight: 800;
  font-style: bold;
}
.end-links ul{
  list-style-type: none;
}
.end-links a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-style: bold;
  font-weight: 600;
}
.end-links p{
  font-weight: 100;
}
.contact a{
  color: white;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.5rem;
  font-weight: 600;

}
.contact ul{
  list-style-type: none;
  
}
#scrollUp{
  width: 3rem;
  height: 3rem;
  padding: 1 auto;
  position: fixed;
  right: 10px;
  bottom: 10px;
  margin-right: 3rem;
  margin-bottom: 1rem;
  background-color: rgb(216, 209, 209);
  cursor: pointer;
  border: none;
    
}
#scrollUp:active{
  background-color: rgb(187, 203, 187);
}
