body {
  text-align: center;
  background-color: lavender;
  text-align: center;
}

h1 {
  font-style: inherit;
}
h3 {
  font-family: inherit;
}
p {
  font-weight: 100;
  font-family: inherit;
  font-style: italic;
  text-align: center;
}
